body {
    background-color: white;
}
h1 {
    text-align: center;
}
.red {
    color: red;
}
.blue {
    color: blue;
}
.green {
    color: green;
}
.BIG {
    font-size: larger;
}
.tiny {
    font-size: smaller;
}
.centered {
    text-align: center;
}
.bold {
    font-weight: bold;
}
.family {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.multiple {
    font-size: larger;
    color: orange;
    font-weight: bold;
}
.styledFont {
    font-size: 100%;
    color: orchid;
    font-family: cursive;
}
#styledImage {    
    border: 5px solid orange;
}